<style>
  .del:checked + span {
    color: red;
  }

  ul {
    list-style: none;
  }
</style>

<form method="post" action="/task/add">
  <label for="task">Add Tasks</label>
  <input type="text" name="task" placeholder="Add Task" />
  <input type="submit" value="Submit" />
</form>

<%= title %>

<form method="post" action="/task/delete">
  <ul>
    <% tasks.forEach(task => { %>
    <li>
      <label for="">
        <input
          type="checkbox"
          name="tasks"
          class="del"
          value="<%= task %>"
        /><span><%= task %></span>
      </label>
    </li>
    <% }) %>
  </ul>
  <input type="submit" value="Remove" />
</form>

<h3>Business Call</h3>
Name: <%= call.name %> <br />
Company: <%= call.company %> <br />
Phone: <%= call.phone %> <br />
Time: <%= call.time %> <br />

<h3>Edit Next Call</h3>
<form method="post" action="/call/add">
  <label for="cname">Contact Name</label> <br />
  <input type="text" name="name" id="cname" placeholder="Task Name" />

  <br /><br />

  <label for="compName">Company</label> <br />
  <input type="text" name="company" id="compName" placeholder="Company" />

  <br /><br />

  <label for="phone">Phone</label> <br />
  <input type="text" name="phone" id="phone" placeholder="Phone" />

  <br /><br />

  <label for="time">Day & Time</label> <br />
  <input type="text" name="time" id="time" placeholder="Time" />

  <br /><br />
  <input type="submit" value="Submit" />
</form>
