<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Task Manager Using Redis</title>
    <style>
      body {
        font-family: "Ubuntu", sans-serif;
        padding: 20px;
        background-color: #26355d;
        color: #e0e0e0;
      }

      h1 {
        color: #ff8f00;
      }

      h2 {
        color: #ffdb00;
      }

      .button {
        background-color: #11c0c0;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
      }

      .button:hover {
        background-color: #e65a30;
      }

      .form-container {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
      }

      .task-list ul {
        list-style: none;
        padding-left: 0;
      }

      .task-list li {
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        color: #26355d;
      }

      .task-list li input[type="checkbox"] {
        margin-right: 10px;
      }

      .del:checked + span {
        color: red;
        text-decoration: line-through;
      }

      input[type="text"] {
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      input[type="text"]:focus {
        border-color: #5e3fbe;
        outline: none;
        box-shadow: 0 0 5px rgba(94, 63, 190, 0.5);
      }

      .label {
        color: #26355d;
      }
    </style>
  </head>
  <body>
    <h1>Simple Task Manager Using Redis</h1>

    <div class="form-container">
      <form method="post" action="/task/add">
        <div>
          <label for="atask" class="label">Add Task</label><br />
          <input
            type="text"
            name="task"
            id="atask"
            placeholder="Add Task"
            required
          />
        </div>
        <input type="submit" value="Submit" class="button" />
      </form>
    </div>

    <h2>Task List</h2>
    <div class="form-container">
      <form method="post" action="/task/delete" class="task-list">
        <ul>
          <% tasks.forEach(task => { %>
          <li>
            <label>
              <input
                type="checkbox"
                name="tasks"
                class="del"
                value="<%= task %>"
              />
              <span><%= task %></span>
            </label>
          </li>
          <% }) %>
        </ul>
        <input type="submit" value="Remove" class="button" />
      </form>
    </div>

    <h2>Business Call Details</h2>
    <div class="form-container">
      <p class="label"><strong>Name:</strong> <%= call.name %></p>
      <p class="label"><strong>Company:</strong> <%= call.company %></p>
      <p class="label"><strong>Phone:</strong> <%= call.phone %></p>
      <p class="label"><strong>Time:</strong> <%= call.time %></p>
    </div>

    <h2>Edit Next Call</h2>
    <div class="form-container">
      <form method="post" action="/call/add">
        <div>
          <label for="cname" class="label">Contact Name</label><br />
          <input
            type="text"
            name="name"
            id="cname"
            placeholder="Task Name"
            required
          />
        </div>

        <div>
          <label for="compName" class="label">Company</label><br />
          <input
            type="text"
            name="company"
            id="compName"
            placeholder="Company"
            required
          />
        </div>

        <div>
          <label for="phone" class="label">Phone</label><br />
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Phone"
            required
          />
        </div>

        <div>
          <label for="time" class="label">Day & Time</label><br />
          <input
            type="text"
            name="time"
            id="time"
            placeholder="Time"
            required
          />
        </div>

        <input type="submit" value="Submit" class="button" />
      </form>
    </div>
  </body>
</html>
